body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    width: fit-content;
}

#game-canvas {
    width: 600px;
    height: 600px;
    background-color: #000;
    image-rendering: pixelated;
    margin-left: 300px; /* Adjust as needed to create space for hold canvas */
    border: 5px solid gray;
    border-radius: 20px;
}

#score-display {
    color: #3b198b;
    font-size: 2em;
    text-shadow: 1px 1px #000;
    margin-left: 400px;
}